<div class="container mt-5" *ngIf="dish">
  <div class="row">
    <div class="col-md-4">
      <img
        [src]="'http://localhost:3000' + dish.imagem"
        alt="{{ dish.nome }}"
        class="img-dish img-thumbnail"
      />
    </div>
    <div class="col-md-8 dish-details">
      <div class="table-responsive">
        <table class="table table-user-information">
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td class="text-primary">{{ dish.nome }}</td>
            </tr>
            <tr>
              <td><strong>Category</strong></td>
              <td class="text-primary">{{ dish.categoria }}</td>
            </tr>
            <tr>
              <td><strong>Description</strong></td>
              <td class="text-primary">{{ dish.descricao }}</td>
            </tr>
            <tr>
              <td><strong>Price</strong></td>
              <td class="text-primary">{{ dish.preco }} €</td>
            </tr>
            <tr>
              <td><strong>Preparation Time</strong></td>
              <td class="text-primary">{{ dish.tempoPreparo }} minutes</td>
            </tr>
            <tr>
              <td><strong>Portion Size</strong></td>
              <td class="text-primary">{{ dish.tamanhoPorcao }}</td>
            </tr>
            <tr>
              <td><strong>Calories</strong></td>
              <td class="text-primary">{{ dish.informacaoNutricional.calorias }}</td>
            </tr>
            <tr>
              <td><strong>Proteins</strong></td>
              <td class="text-primary">{{ dish.informacaoNutricional.proteinas }} g</td>
            </tr>
            <tr>
              <td><strong>Carbs</strong></td>
              <td class="text-primary">{{ dish.informacaoNutricional.carboidratos }} g</td>
            </tr>
            <tr>
              <td><strong>Fat</strong></td>
              <td class="text-primary">{{ dish.informacaoNutricional.gorduras }} g</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
