<nav class="navbar">
  <div class="navbar-logo">
    <img src="/images/onlyRTE_LOGO.png" alt="Logo" />
  </div>
  <div class="navbar-links">
    <a href="/">Home</a>
    <a href="/menus">Menus</a>
    <a href="/help">Help</a>
  </div>
  <div class="navbar-user">
    <span>
      <%= user && user.lastName ? user.lastName : "LastName" %>, 
      <%= user && user.firstName ? user.firstName : "FirstName" %>
    </span>
    <a href="/users/profile" class="profile-link">Profile</a>
  </div>
</nav>