<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil do Usuário</title>
  </head>
  <body>
    <h1>Bem-vindo, <%= user.firstName %> <%= user.lastName %></h1>
    <p>Email: <%= user.email %></p>
  </body>

  <footer>
    <p>&copy; 2025 OnlyRTE. Todos os direitos reservados.</p>
    <p><a href="/users/profile/edit">Editar Perfil</a></p>
  </footer>
</html>
