body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6e7e7; /* Cor de fundo igual à do login */
  color: #333; /* Cor do texto */
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Mantém a imagem no canto esquerdo */
  background-color: #e6e7e7; /* Cor do cabeçalho */
  color: black;
  padding: 10px 10px;
  position: relative; /* Necessário para posicionar o título */
}

header .logo img {
  height: 100px;
  margin-right: 20px;
}

header h1 {
  position: absolute; /* Permite centralizar o título */
  left: 50%; /* Move o título para o centro horizontal */
  transform: translateX(-50%); /* Ajusta para que o centro do título seja o ponto de referência */
  margin: 0;
  text-align: center;
}

main {
  padding: 20px;
}

/* Estilo para a lista de pratos */
.pratos-lista {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px; /* Espaçamento entre os itens */
padding: 0;
list-style: none;
max-width: 1200px; /* Limita a largura total */
margin: 0 auto; /* Centraliza a lista na página */
}

/* Estilo para cada prato */
.prato-item {
border: 1px solid #ccc;
border-radius: 8px;
padding: 10px;
background-color: #fff;
text-align: center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


.prato-imagem {
max-width: 100%;
height: auto;
border-radius: 8px;
margin-bottom: 10px;
}

.prato-item h2 {
font-size: 1.2rem;
margin: 10px 0;
color: #333;
}

.prato-item p {
margin: 5px 0;
font-size: 0.9rem;
color: #666;
}

.prato-item ul {
padding: 0;
list-style: none;
margin-top: 10px;
}

.prato-item ul li {
margin: 5px 0;
font-size: 0.9rem;
color: #555;
}

/* Botão de adicionar */
.btn-adicionar {
display: inline-block;
margin-top: 10px;
padding: 8px 15px;
background-color: #28a745;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 0.9rem;
transition: background-color 0.2s;
}

.btn-adicionar:hover {
background-color: #218838;
}