.cart-summary {
  background-color: #fff;
  border-radius: 0.375rem;       
  border: 1px solid #dee2e6;  
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
}

.cart-summary .cart-total-value {
  font-weight: 400 !important;
}

.cart-summary .cart-total-label {
  font-weight: 700 !important;
}

.cart-summary .btn-primary {
  color: #212529;
  border: 1px solid #212529;
  background-color: transparent;
  font-size: 1.15rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: background 0.2s, box-shadow 0.2s;
}

.cart-summary .btn-primary:hover,
.cart-summary .btn-primary:focus {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  box-shadow: 0 2px 8px rgba(13,110,253,0.08);
}

.btn.btn-outline-primary {
  color: #212529;
  border: 1px solid #212529;
  background-color: transparent;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s;
  font-size: 15px;
}

.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:focus {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}


.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}


