<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
/>

<app-navbar></app-navbar>

<body>
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Choose your dishes</h1>
        <p class="lead fw-normal text-white-50 mb-0"></p>
      </div>
    </div>
  </header>
  <!-- Section-->
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <div class="col mb-5" *ngFor="let dish of dishes">
        <div class="card h-100">
          <img
            class="card-img-top"
            [src]="'http://localhost:3000/uploads' + dish.imagem"
            alt="{{ dish.nome }}"
          />
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">{{ dish.nome }}</h5>
              <p>{{ dish.descricao }}</p>
              <p><strong>Preço:</strong> {{ dish.preco }} €</p>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a
                    class="btn btn-outline-dark mt-auto"
                    (click)="addToCart(dish)"
                  >
                    Add to cart
                  </a>
                  <a
                    class="btn btn-outline-dark mt-auto"
                    [routerLink]="['/dishes', dish._id, 'details']"
                    >View Details</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; ReadyToEat 2025</p>
  </div>
</footer>
