@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6e7e7;
}

h1 {
  position: absolute;
  left: 50%; 
  transform: translateX(
    -50%
  );
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}

main {
  padding: 100px 20px;
}

.pratos-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
  list-style: none;
  max-width: 1200px;
  margin: 0 auto; 
  margin-top: 50px;
}

.prato-item a {
  text-decoration: none;
}

.prato-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.prato-item:hover {
  background-color: #ccccccc0;
}

.prato-imagem {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.prato-item h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}

.prato-item p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #666;
}

.prato-item ul {
  padding: 0;
  list-style: none;
  margin-top: 10px;
}

.prato-item ul li {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #555;
}

.btn-adicionar {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #ff5722;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
}

.btn-adicionar:hover {
  background-color: #e64a19;
}

.btn-editar {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.2s;
  text-decoration: none;
}

.btn-editar:hover {
  text-decoration: none;
  background-color: #e64a19;
}